body.apply {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

form.form {
    background: white;
    background-attachment: fixed;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 100px;
    max-width: 100%;
    margin-left: 10px auto;
    margin-right: 10px;
}

.apply-title{
  font-weight: 500; 
  margin-bottom: 24px; 
  text-align: center;
}

.apply-title h1 {
    font-size: 34px;
}

.apply-title p {
    font-size: 14px;
    text-align: center;  
}


.Gender {
    border: none;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
}

input[type="radio"] {
    margin-right: 5px;
}

.checkbox-group {
    margin-bottom: 15px;
}

.checkbox-group label {
    display: inline-block;
    margin-right: 10px;
}

#Other textarea{
 font-family: Arial, sans-serif;
}

.submit-button:hover {
    background-color: #0056b3;
}

.required {
    color: red;
}
